/* You can add global styles to this file, and also import other style files */
@import "../../style/variable.scss";


.policy{
    & ul{
        list-style: none;
    }
}

.forget-check{
    a{
    color:$solidgreen;
    }
}
.copyright{
    span{
      color:$mediumseagreen
    }
}
